/** webkit style reset **/
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

input, button, select, textarea {
  outline: none
}

textarea {
  resize: none
}

/** webkit style reset - end **/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  border: 0;
  overflow-x: hidden;

  font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
}

/* #toolbar {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    top: 2%;
    left: 92%;
    text-align: right;
}

#toolbar li {
  list-style: none;
}
 */

.hide {
  display: none;
}

.error {
  border-color: red !important;
}

.clearfix:before,.clearfix:after{
  content:"";
  display:table;
}
.clearfix:after{
  clear:both;
}
.clearfix{
  *zoom:1;/*IE/7/6*/
}

#container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  margin: 9px;
}

.CodeMirror, #editor {
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.cm-s-default .cm-comment {
  color: grey;
  font-style: italic;
}

.cm-s-default .cm-string {
  color: black;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #222;
}

.search {
  z-index: 999;
}

#search {
  position: absolute;
  top: 30%;
  margin: 0 30%;
  width: 40%;
  height: 3em;
  line-height: 2em;
  text-indent: 1em;
  font-size: 0.8em;

  border: 3px solid #eee;
}

#projects {
  margin: 10px 0;
}

#projects li {
  margin: 0 15% 0 0;
  padding: 0;
  list-style: none;
}
